{
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "@ravorona",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "rules": {
        "@typescript-eslint/ban-ts-comment": "error",
        "@typescript-eslint/ban-types": "error",
        "@typescript-eslint/consistent-type-definitions": "error",
        "@typescript-eslint/member-delimiter-style": ["error", { "multiline": { "delimiter": "none", "requireLast": false }, "singleline": { "delimiter": "comma", "requireLast": false } }],
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "@typescript-eslint/no-useless-constructor": "error",
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/type-annotation-spacing": ["error", { "after": true, "before": false }],
    },
    "reportUnusedDisableDirectives": true
}
