{
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "@ravorona",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "serviceworker": true
    },
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module",
        "ecmaVersion": 2020
    },
    "globals": {
        "process": true
    },
    "rules": {
        "@typescript-eslint/type-annotation-spacing": [
            2,
            {
                "after": true,
                "before": false
            }
        ],
        "@typescript-eslint/no-unused-vars": 2,
        "@typescript-eslint/ban-ts-comment": 2,
        "@typescript-eslint/ban-types": 2,
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-unsafe-assignment": 2,
        "@typescript-eslint/no-unsafe-member-access": 2,
        "@typescript-eslint/no-unsafe-return": 2,
        "@typescript-eslint/no-unnecessary-type-arguments": 2,
        "@typescript-eslint/no-unnecessary-type-assertion": 2,
        "@typescript-eslint/no-useless-constructor": 2,
        "@typescript-eslint/member-delimiter-style": [
            2,
            {
                "multiline": {
                    "delimiter": "none",
                    "requireLast": false
                },
                "singleline": {
                    "delimiter": "comma",
                    "requireLast": false
                }
            }
        ]
    },
    "reportUnusedDisableDirectives": true
}
