{
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "@ravorona"
    ],
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "rules": {
        "@typescript-eslint/ban-ts-comment": "error",
        "@typescript-eslint/ban-types": "error",
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "none",
                    "requireLast": false
                },
                "singleline": {
                    "delimiter": "comma",
                    "requireLast": false
                }
            }
        ],
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "@typescript-eslint/no-useless-constructor": "error",
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/type-annotation-spacing": [
            2,
            {
                "after": true,
                "before": false
            }
        ]
    },
    "reportUnusedDisableDirectives": true
}
